target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/

.DS_Store
*.log
*.tmp

application-local.properties
.env
.env.local
